/*  your css code here. If applicable */
.color{
	border-width: 1px;
	border-style: solid;
}
#yellow{
	background:yellow;
	
	border-color:green;
}
#red{
	background:red;
	
	border-color:black;
}
#green{
	background:green;
	
	border-color:yellow;
}